body {
  font-family: 'Revalia', monospace;
  font-size:96px;
  text-align:left;
  background:#2c3e50;
  color:#2ecc71;
  white-space: nowrap;
  margin:0;
  padding:0;
}

body.negative {
  color:#e74c3c;
  -webkit-animation-name: blinker;
  animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.two,.wide {
  display: inline-block;
  width:170px;
  text-align: center;
}

.wide {
  width:300px;
  text-align: left;
}

@keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

